﻿<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/scss/custom.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/Animate.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="icon" type="image/png" href="~/img/favicon.ico" />

@{

}

<main role="main" class="d-flex justify-content-center align-items-center h-100" style="background-image: url(/img/2.jpg); background-size:cover; background-position-y: -150px">

    <div class="bg-white p-5 mb-5 border-radius animated fadeIn" style="width: 400px">
        @RenderBody()
    </div>

</main>