﻿
.filter {
    position: absolute;
    left: -9999px;
}

.burger {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.radios-boxes {
    display: flex;
}

.radios {
    display: flex;
    filter: url('#gooeyness');
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.radio {
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    border: 16px solid #ccc;
    cursor: pointer;
    height: 30px;
    margin: 10px;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    transition: border-color 800ms;
    width: 30px;
}

    .radio.active {
        border-color: #007abb;
    }

.ball {
    background: #007abb;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    left: 19px;
    pointer-events: none;
    position: absolute;
    top: 19px;
    transform: translateY(-80px);
    transition: transform 1000ms;
}

    .ball.pos0 {
        transform: translateY(0px);
    }

    .ball.pos1 {
        transform: translateY(52px);
    }

    .ball.pos2 {
        transform: translateY(104px);
    }

    .ball.pos3 {
        transform: translateY(156px);
    }

    .ball.pos4 {
        transform: translateY(208px);
    }

    .ball.pos5 {
        transform: translateY(260px);
    }

    .ball.pos6 {
        transform: translateY(312px);
    }

    .ball.pos7 {
        transform: translateY(364px);
    }

    .ball.pos8 {
        transform: translateY(416px);
    }

    .ball.pos9 {
        transform: translateY(468px);
    }

    .ball.pos10 {
        transform: translateY(520px);
    }

.labels {
    margin-left: 5px;
}

.label {
    margin-top: 3px;
    color: #a9a9a9;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 40px;
    padding: 2px 0;
    -webkit-tap-highlight-color: transparent;
    transition: color 800ms;
}

    .label.active {
        color: #007abb;
    }
