﻿@model CreatePollViewModel

@{
    string EditOrCreateString = Model.IsEdit ? "Edit" : "Create";
    ViewData["Title"] = EditOrCreateString;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int optionCount = 0;
}
<link rel="stylesheet" href="~/css/RadioButtons.css" />

<div class="text-center mb-5 w-100">
    <h1 class="display-4 text-truncate">@ViewData["Title"]</h1>
</div>

<div class="d-flex justify-content-center">

    <form asp-action="@EditOrCreateString" method="post" class="row animated fadeIn" style="width: 60vw">
        <div class="form-group">
            @if (Model.IsEdit)
            {
                <input asp-for="@Model.PollDto.Id" value="@Model.PollDto.Id" class="form-control" type="hidden" />
                <input asp-for="@Model.IsEdit" value="@Model.IsEdit" class="form-control" type="hidden" />
                <input asp-for="@Model.PollDto.CreationDate" value="@Model.PollDto.CreationDate" class="form-control" type="hidden" />
                <input asp-for="@Model.PollDto.Creator.Id" value="@Model.PollDto.Creator.Id" class="form-control" type="hidden" />
            }
        </div>

        <div class="col-8 border border-radius p-4 m-2 ">
            <label class="control-label">Main info</label>
            <div class="form-group">
                <input asp-for="@Model.PollDto.Title" class="form-control form-control-lg roundedInput" placeholder="Title">
                <span asp-validation-for="@Model.PollDto.Title" class="text-danger"></span>
                <small id="emailHelp" class="form-text text-muted">Some text here.</small>
            </div>
            <div class="form-group">
                <textarea asp-for="@Model.PollDto.Description" class="form-control roundedInput" style="resize:none; min-height: 125px" placeholder="Description"> </textarea>
                <span asp-validation-for="@Model.PollDto.Description" class="text-danger"></span>
            </div>
        </div>

        <div class="col-3 border border-radius p-4 m-2 animated fadeIn">
            <div class="form-group">
                <label asp-for="@Model.PollDto.StartDate" class="control-label">StartDate</label>
                <input asp-for="@Model.PollDto.StartDate" value="@(Model.PollDto.StartDate)" type="datetime" class="form-control roundedInput">
                <span asp-validation-for="@Model.PollDto.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PollDto.EndDate" class="control-label">EndDate</label>
                <input asp-for="@Model.PollDto.EndDate" type="datetime" value="@(Model.PollDto.EndDate)" class="form-control roundedInput">
                <span asp-validation-for="@Model.PollDto.EndDate" class="text-danger"></span>
            </div>
            <div class="custom-control custom-checkbox ">
                <input asp-for="@Model.PollDto.IsChatEnabled"  class="custom-control-input" type="checkbox" />
                <label asp-for="@Model.PollDto.IsChatEnabled" class="custom-control-label">Enable chat?</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input asp-for="@Model.PollDto.IsPrivate" class="custom-control-input" type="checkbox" />
                <label asp-for="@Model.PollDto.IsPrivate" class="custom-control-label">Is private?</label>
            </div>
        </div>



        <div class="col-8 border border-radius m-2 p-4 animated fadeIn">
            <label class="control-label">Options</label>
            <div class="d-flex flex-column" id="options">
                @if (!Model.IsEdit)
                {
                    <div class="d-inline-flex align-content-center mt-2 input-group animated fadeInUp js-deleteAnimation ">
                        <input name="PollDto.Options[0].Text" value="First" class="form-control roundedInput col-form-label-sm rightRoundingNone" required>
                        <button class="btn btn-danger btn-sm input-group-append d-flex leftRoundingNone js-deleteOptionButton"><i class="material-icons">delete</i></button>
                        <span asp-validation-for="@Model.PollDto.Options" class="text-danger"></span>
                    </div>
                }
                else
                {
                    foreach (var option in Model.PollDto.Options)
                    {
                        <div class="d-inline-flex align-content-center mt-2 input-group animated fadeInUp js-deleteAnimation">
                            <input name="PollDto.Options[@optionCount].Text" value="@option.Text" class="form-control roundedInput col-form-label-sm rightRoundingNone" required>
                            <button class="btn btn-danger btn-sm input-group-append d-flex leftRoundingNone js-deleteOptionButton"><i class="material-icons">delete</i></button>
                            <span asp-validation-for="@Model.PollDto.Options" class="text-danger"></span>
                            <input type="hidden" name="PollDto.Options[@optionCount].Id" value="@Model.PollDto.Options[optionCount].Id" />
                        </div>
                        optionCount++;
                    }
                }
            </div>
            <hr />
            <button type="button" class="btn btn-outline-info btn-sm d-flex justify-content-center w-100" id="btnAddField"><i class="material-icons">add</i> Add option</button>
        </div>
        @Html.ValidationSummary()
        <button type="submit" class="btn btn-primary btn-lg w-100 mx-2 col-8 my-4">Submit</button>
    </form>

</div>

@section Scripts {

    <script>
        function validateInput(input)
        {
            if (input.value.trim() === "") {
                alert("Please enter a option name");
                input.focus();
                return false;
            }
            if (input.value !== "") {
                if (input.value.length > 40) {
                    alert("Please enter a option name no more than 40 characters");
                    input.focus();
                    return false;
                }
            }
            return true;       
        }

        const optionsGroup = document.querySelector('#options');
        let addFieldButton = document.querySelector('#btnAddField');

        addFieldButton.addEventListener("click", e => {
                let option = $("#options").children().first().clone();
                let optionInput = option.children().first();
                optionInput.removeAttr('value');
                optionInput.removeAttr('name');
                optionInput.attr('name', 'PollDto.Options[' + (optionsGroup.childElementCount) + '].Text');
                optionInput.prependTo(option);
                option.appendTo(optionsGroup);
        });

        optionsGroup.addEventListener('click', function(evt) {
            if (evt.target.closest('.js-deleteOptionButton')) {
                evt.target.closest('div').remove()

            }
        })
        
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
