﻿@model PollsViewModel
@using SuffrageApp.Extensions
@{
    ViewData["Title"] = "Polls";
    bool isHaveAccess = false;

}

<div class="d-flex justify-content-center align-items-stretch">
    @if (Model.PageViewModel.HasPreviousPage)
    {
        
        if (Model.isSearch)
        {
            <a asp-action="Search"
               asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
               asp-route-Status="@(Model.Filter.Status ?? null)"
               asp-route-IsDescending="@(Model.Filter.IsDescending)"
               asp-route-substringForSearch="@(Model.Filter.SearchSubstringInName)"
               class="  d-flex align-items-center">
                <i class="material-icons">keyboard_arrow_left</i>
            </a>
        }
        else
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
               class="  d-flex align-items-center">
                <i class="material-icons">keyboard_arrow_left</i>
            </a>
        }
    }
    <div class="text-center m-3">
        <h1 class="display-4">@ViewData["Title"] </h1>
            @if (Model.Filter?.Status != null)
            {
                <span class="text-primary">
                    @Model.Filter.Status
                </span>
            }
            @if (Model.Filter?.SearchSubstringInName != null)
            {
                <span>Search for:</span>
                <span class="text-primary">
                     @Model.Filter.SearchSubstringInName
                </span>
            }
    </div>
    @if (Model.PageViewModel.HasNextPage)
    {
        if (Model.isSearch)
        {
            <a asp-action="Search"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
               asp-route-Status="@(Model.Filter.Status ?? null)"
               asp-route-IsDescending="@(Model.Filter.IsDescending)"
               asp-route-substringForSearch="@(Model.Filter.SearchSubstringInName)"
               class=" d-flex align-items-center">
                <i class="material-icons">keyboard_arrow_right</i>
            </a>
        }
        else
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
               class=" d-flex align-items-center">
                <i class="material-icons">keyboard_arrow_right</i>
            </a>
        }
    }
</div>


<div class="d-flex flex-wrap justify-content-center">

   @foreach (var item in Model.Polls)
    {
       Model.IsUserHaveAccess.TryGetValue(item, out isHaveAccess);
        <div class="card card-1 m-3 animated fadeInUp border-0" style="width: 20vw; min-width: 250px; min-height:200px; border-radius: 15px; animation-duration: 0.5s;">
            <div class=" no-gutters h-100">
                @if (item.Creator.Id == User.GetUserId())
                {
                    <i class="material-icons text-white" style="position: absolute; top:20px; left: 20px">face</i>
                }
                else
                {
                    if (item.IsPrivate)
                    {
                        
                        if (isHaveAccess)
                        {
                            <i class="material-icons text-white" style="position: absolute; top:20px; left: 20px">lock_open</i>
                        }
                        else
                        {
                            <i class="material-icons text-black-50" style="position: absolute; top:20px; left: 20px; ">lock</i>
                        }
                    }
                }
                <a class="btn btn-link p-0 border-0 @(item.IsPrivate && !isHaveAccess ? "disabled" : "")" asp-controller="Poll" asp-action="View" asp-route-id="@item.Id">
                    <img src="~/img/3.jpg" class="card-img-top" alt="..." style="" height="200">
                </a>
                <div class="card-body">
                    <h3 class="card-title text-nowrap text-truncate" style="overflow: hidden; ">@Html.DisplayFor(modelItem => item.Title)</h3>
                    <p class="card-text overflow-multiply">@Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text"><small class="text-muted">Created @Html.DisplayFor(modelItem => item.CreationDate)</small></p>
                </div>

            </div>
        </div>
    }
</div>
