﻿@model PollViewModel
@using Core.Enums;
@using SuffrageApp.Extensions

@{
    ViewData["Title"] = "PollView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int countOptions = 0;
    int countLabels = 0;
    bool CurrentUserIsVoted = Model.Poll.Members?.FirstOrDefault(u => u.Id == User.GetUserId())?.IsVoted ?? false;
    bool isActive = Model.Poll.State == StateEnum.Active;
    bool isCreator = Model.Poll.Creator.Id == User.GetUserId();
}
<link rel="stylesheet" href="~/css/RadioButtons.css" />

<div class="d-flex justify-content-center container ">
    <div class="row align-items-start" style="width: 60vw">
        @*Заголовок*@
        <div class="row text-center mb-4 mt-4 w-100 d-flex justify-content-center animated fadeIn">
            <h1 class="display-4 text-truncate">@Html.DisplayFor(model => model.Poll.Title)</h1>
        </div>
        @*Блок основной информации*@
        <div class="d-flex justify-content-between flex-wrap col-8 animated fadeIn">
            <div class="w-100" style="max-width: 700px">
                <form class="w-100" style="max-width: 700px" asp-controller="Answer" asp-action="Create" method="post">
                    <input type="hidden" name="Poll.Id" value="@Model.Poll.Id" />
                    <div class="border border-radius mt-2">
                        <div class="">
                            <h5 class="text-center mt-3">Main info</h5>
                            <hr />
                            <span class="m-4"><strong>Description:</strong> @Html.DisplayFor(model => model.Poll.Description)</span>
                            <hr />
                            <div class="form-row d-flex justify-content-between m-2 mt-3">
                                @if (isActive)
                                {
                                    @if (!CurrentUserIsVoted)
                                    {
                                        <div class="radios-boxes ">
                                            <div class="radios">
                                                @foreach (var option in Model.Poll.Options)
                                                {
                                                    countOptions++;
                                                    <input type="radio" name="Option.Id" id="@String.Format("radio" + countOptions)" class="radio" value="@option.Id">
                                                }
                                                <div class="ball"></div>
                                            </div>
                                            <div class="labels">
                                                @foreach (var option in Model.Poll.Options)
                                                {
                                                    countLabels++;
                                                    <label for="@String.Format("radio" + countLabels)" class="label">@option.Text</label>
                                                }
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <span>You have already voted</span>
                                    }

                                }
                                else
                                {
                                    if (Model.Poll.State == StateEnum.Ended)
                                    {
                                        <span>Poll has ended</span>
                                        @foreach (var answer in Model.Poll.Answers)
                                        {
                                            <div class="w-100"><span>@answer.Author.UserName:</span><span> @answer.Option.Text</span></div>
                                        }
                                    }
                                    else
                                    {
                                        <span>Poll has not started yet</span>
                                    }
                                }
                            </div>
                        </div>
                        @if (isActive && !CurrentUserIsVoted)
                        {
                            <button type="submit" class="btn btn-outline-primary btn-lg w-100 topRoundingNone">Submit</button>
                        }
                    </div>
                </form>
                @if (Model.Poll.Chat != null)
                {
                    <div class=" mt-4 animated fadeIn ">
                        @await Html.PartialAsync("_Chat", Model.Poll.Chat)
                    </div>
                }
            </div>
        </div>
        @*Блок дополнительной информации и кнопки управления*@
        <div class="p-0 m-2 w-100 col-3 animated fadeIn" style="min-width: 200px">

            <div class="border border-radius ">
                @if (isCreator)
                {
                    <div class="btn-group btn-group-lg d-flex justify-content-center" role="group">
                        @if (!isActive)
                        {
                            <a class="btn btn-outline-info bottomRoundingNone rightRoundingNone" asp-controller="Poll" asp-action="Edit" asp-route-id="@Model.Poll.Id">
                                <i class="material-icons " style="font-size:40px">edit</i>
                            </a>
                        }
                        <btn class="btn btn-outline-danger @(isActive ? "" : "leftRoundingNone") bottomRoundingNone " data-toggle="modal" data-target="#ModalDelete">
                            <i class="material-icons " style="font-size:40px">delete</i>
                        </btn>
                    </div>
                }
                <div class="text-center p-3 pt-4">
                    <span>
                        @switch (Model.Poll.State)
                        {
                            case StateEnum.Active:
                                <i class="material-icons" style="color:green">how_to_vote</i>
                                <br />@Html.DisplayFor(model => model.Poll.State)
                                break;
                            case StateEnum.Ended:
                                <i class="material-icons" style="color:crimson">timer_off</i>
                                <br />@Html.DisplayFor(model => model.Poll.State)
                                break;
                            case StateEnum.NotStarted:
                                <i class="material-icons" style="color:goldenrod">timer</i>
                                <br />@Html.DisplayFor(model => model.Poll.State)
                                @if (isCreator)
                                {
                                    <br /><a asp-action="StartNow" asp-route-id="@Model.Poll.Id" class="btn btn-link">Start Now</a>
                                }
                                <br />
                                break;
                            case StateEnum.Removed:
                                <i class="material-icons" style="color:orangered">block</i>
                                <br />@Html.DisplayFor(model => model.Poll.State)
                                break;
                            default:
                                <i class="material-icons">mood_bad</i>
                                <br /><span>wtf?</span>
                                break;
                        }
                    </span>
                    @switch (Model.Poll.State)
                    {
                        case StateEnum.Active:
                        case StateEnum.NotStarted:
                            <div class="text-center" id="timerBlock">
                                <hr />
                                <span>
                                    <i class="material-icons">timer</i>
                                    <br /> <span id="timer"></span>
                                </span>
                            </div>
                            break;
                        default:
                            break;
                    }
                    
                    <hr />
                    <div class="text-center">
                        <span>
                            <i class="material-icons">date_range</i>
                            <br /> @Html.DisplayFor(modelItem => Model.Poll.StartDate)
                        </span>
                    </div>
                    <hr />
                    <div class="text-center">
                        <span>
                            <i class="material-icons">face</i>
                            <br />@Html.DisplayFor(model => model.Poll.Creator.UserName)
                        </span>
                    </div>

                </div>

                <div class="btn-group w-100">
                    <button type="button" class="btn btn-outline-dark  rightRoundingNone topRoundingNone w-50" data-toggle="modal" data-target="#membersModal">
                        Members
                    </button>
                    <button type="button" class="btn btn-outline-info leftRoundingNone topRoundingNone  w-50" data-toggle="modal" data-target="#inviteModal">
                        Invite
                    </button>
                </div>
            </div>

        </div>

    </div>
</div>

@*Фильтр для анимации*@
<svg class="filter" version="1.1">
    <defs>
        <filter id="gooeyness">
            <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10" result="gooey" />
            <feComposite in="SourceGraphic" in2="gooey" operator="atop" />
        </filter>
    </defs>
</svg>

<!-- Delete modal -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" asp-controller="Poll" asp-action="Delete" asp-route-id="@Model.Poll.Id">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- Invites modal -->
<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <form class="modal-content"  asp-controller="Poll" asp-action="InviteUsersToPoll" method="post">
            <input type="hidden" name="pollId" value="@Model.Poll.Id"/>
            <div class="modal-header">
                <h5 class="modal-title" id="inviteModalTitle">Invite users</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Users</label>
                    <select name="userIds" size="20" multiple class="form-control h-auto" id="exampleFormControlSelect2" 
                            asp-items="@(new SelectList(Model.Users,"Id","UserName"))">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Invite</button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="membersModal" tabindex="-1" role="dialog" aria-labelledby="membersModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Members</h5>
            </div>
            <div class="modal-body">
                <ul>
                    @foreach (var user in Model.Poll.Members)
                    {
                        <li>@user.UserName</li>
                      }
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    let radios = document.querySelectorAll('.radio');
    let labels = document.querySelectorAll('.label');
    let ball = document.querySelector('.ball');
    let prevRadio, prevLabel;
    radios.forEach((radio, index) => {
        radio.addEventListener('click', function (e) {
            if (prevRadio) prevRadio.classList.toggle('active');
            if (prevLabel) prevLabel.classList.toggle('active');
            radio.classList.toggle('active');
            prevRadio = radio;
            labels[index].classList.toggle('active');
            prevLabel = labels[index];
            ball.className = `ball pos${index}`;
        });
    });
</script>
<script>
    var startDate = "@Model.Poll.StartDate.ToString("yyyy-MM-dd HH:mm:ss")";
    var endDate = "@Model.Poll.EndDate.ToString("yyyy-MM-dd HH:mm:ss")";
    var countDownDate = @(Model.Poll.State == StateEnum.Active ? "new Date(endDate)" : Model.Poll.State == StateEnum.NotStarted ? "new Date(startDate)" : "null");

    var x = setInterval(function () {

        var now = new Date().getTime();

        var distance = countDownDate - now;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("timer").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        if (distance < 0 && '@(Model.Poll.StartDate > DateTime.Now)' == 'True') {
            location.reload();
        }
    }, 1000);
</script>

