﻿@using Microsoft.AspNetCore.Identity
@using Core.Entities
@using SuffrageApp.Extensions
@model Core.Dtos.ChatDto

@inject SignInManager<User> SignInManager
<div class=" card border border-radius">
    <input type="hidden" id="userInput" value="@User.GetUserName()" />
    <input type="hidden" id="chatInput" value="@Model.Id" />
    <div class="card-header border-radius bottomRoundingNone " style="border-color: none">
        <h5 class="text-center mt-2">Chat</h5>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        <ul class="list-group list-group-flush border-radius card-body border-0 p-0" id="messagesList" style="overflow-y: auto; height: 350px; word-wrap: break-word;">
            <li id="messageTemplate" class="d-none list-group-item animated fadeInLeft">
                <span class="text-muted" id="messageDate"> </span> - 
                <span class="text-primary" id="messageUsername"> </span> 
                <span id="messageText"> </span>
            </li>
            @foreach (var message in Model.Messages)
            {
                <li class="list-group-item animated fadeInLeft"><span class="text-muted">@message.CreationDate.ToString("dd.MM HH:mm") </span> - <span class="text-primary">@message.Author.UserName:</span> @message.TextMessage</li>
            }
        </ul>
        <div class="input-group card-footer border-0 p-0">
            <input class="form-control bg-secondary border-0 roundedInput rightRoundingNone topRoundingNone" placeholder="Message" id="messageInput">
            <button class="btn btn-primary input-group-append leftRoundingNone topRoundingNone" id="sendButton"><i class="material-icons">message</i></button>
        </div>
    }
    else
    {
        <div>you are not authorized</div>
    }
</div>

<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/Chat.js"></script>