﻿@using Microsoft.AspNetCore.Identity
@using Core.Entities
@using Core.Enums
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SuffrageApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/scss/custom.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Animate.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="icon" type="image/png" href="~/img/favicon.ico" />
</head>
<body class="d-flex">
    <div class="p-3 leftBackgroundBlock">
        <div class="d-flex flex-column align-items-center leftRoundedBlock border-radius" style="box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);">
            <div class="d-flex flex-column text-center">
                @*<a class="text-nowrap" asp-controller="Home" asp-action="Index">
                        <img src="~/logo.svg" width="100" height="100" alt="SolarBoard" class="mt-4 ml-4">
                    </a>*@
                <a asp-controller="Home" asp-action="Index"><i class="material-icons text-white pt-4" style="font-size: 8vw; text-shadow: 2px 2px 6px rgba(0,0,0,0.50);">check_circle</i></a>
                <h1 class="text-white pt-2 d-none d-lg-inline " style="text-shadow: 2px 2px 6px rgba(0,0,0,0.50);">Suffrage App</h1>

            </div>

            <div class="mt-5 w-100">
                <div class="list-group list-group-flush pl-3">
                    <a asp-controller="Home" asp-action="Index" class="list-group-item leftMenuList list-group-item-action text-white selected" id="Polls">
                        <i class="material-icons mr-2">home</i><span class="d-none d-lg-inline">All polls</span>
                    </a>
                    <a asp-controller="Home" asp-action="Privacy" class="list-group-item leftMenuList list-group-item-action text-white disabled" >
                        <i class="material-icons mr-2">accessibility</i><span class="d-none d-lg-inline">Your polls</span>
                    </a>
                    <a asp-controller="Home" asp-action="Privacy" class="list-group-item leftMenuList list-group-item-action text-white" id="Privacy">
                        <i class="material-icons mr-2">assessment</i><span class="d-none d-lg-inline">Stats</span>
                    </a>
                </div>
            </div>
            <partial name="_LoginPartial" />

        </div>
    </div>


    <div class="p-3 rightBackgroundBlock">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item  d-lg-inline-flex" id="active">
                            <a asp-controller="Poll" asp-action="Search" asp-route-status="@StateEnum.Active" class="nav-link mx-2 text-primary" >
                                <h5>Active</h5>
                            </a>
                        </li>
                        <li class="nav-item mx-2 text-info  d-lg-inline-flex" id="waiting">
                            <a asp-controller="Poll" asp-action="Search" asp-route-status="@StateEnum.NotStarted" class="nav-link text-primary">
                                <h5>Waiting</h5>
                            </a>
                        </li>
                        <li class="nav-item mx-2 text-info  d-lg-inline-flex" id="ended">
                            <a asp-controller="Poll" asp-action="Search" asp-route-status="@StateEnum.Ended" class="nav-link text-primary">
                                <h5>Ended</h5>
                            </a>
                        </li>
                    </ul>
                    <form asp-action="Index" method="get" class="form-inline my-2 my-lg-0">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <button class="btn btn-outline-info mr-3 d-flex justify-content-center" asp-controller="Poll" asp-action="Create">
                                <i class="material-icons mr-1">add</i><span>Create Poll</span>
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-info mr-2 d-flex justify-content-center" asp-controller="Account" asp-action="Register">
                                <i class="material-icons mr-2">person_add</i><span>Register</span>
                            </button>
                            <button class="btn btn-primary mr-2 d-flex justify-content-center" asp-controller="Account" asp-action="Login">
                                <i class="material-icons mr-2">exit_to_app</i><span>Login</span>
                            </button>
                        }
                        <div class="input-group">
                            <input name="substringForSearch" class="form-control bg-secondary border-0 roundedInput rightRoundingNone" type="search" placeholder="Search" aria-label="Search">
                            <button asp-controller="Poll" asp-action="Search" class="btn btn-primary input-group-append leftRoundingNone" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </nav>
        </header>

        <main role="main" class="">

            @RenderBody()

        </main>

        <footer class="footer">
            <div>

            </div>
        </footer>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        document.getElementsByClassName('selected')[0].classList.remove('selected');
        document.getElementById("@ViewData["Title"]").classList.add('selected');
    </script>
</body>
</html>
