﻿@model SuffrageApp.Models.Account.LoginViewModel
@{
    Layout = "~/Views/Shared/Account/_LoginLayout.cshtml";
}

    
    <form class="d-flex align-items-center flex-column" method="post" asp-controller="Account" asp-action="Login"
          asp-route-returnUrl="@Model.ReturnUrl">
        <h2>Login</h2>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="pt-3">
            <label asp-for="Email"></label><br />
            <input class="roundedInput form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="pt-3">
            <label asp-for="Password"></label><br />
            <input class="roundedInput form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="p-3 custom-control custom-checkbox">

            <input class="custom-control-input" asp-for="RememberMe" type="checkbox" />
            <label class="custom-control-label" asp-for="RememberMe"></label>
        </div>
        <div class="pb-3">
            <input class="btn btn-primary" type="submit" value="Submit" />
        </div>
        <a class="btn btn-info" asp-controller="Account" asp-action="Register">Register</a>
    </form>
