﻿@using SuffrageApp.Models.Account
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/Account/_LoginLayout.cshtml";
}

@model RegisterViewModel
<form method="post" asp-controller="Account" asp-action="Register" class=" ">
    <div class="d-flex justify-content-center"><h2>Register</h2></div>
    <div asp-validation-summary="ModelOnly"></div>
    <div  class="pt-3">
        <label asp-for="Email"></label><br />
        <input class="roundedInput form-control" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="pt-3">
        <label asp-for="Password"></label><br />
        <input class="roundedInput form-control" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div  class="pt-3">
        <label asp-for="PasswordConfirm"></label><br />
        <input class="roundedInput form-control" asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div class="d-flex justify-content-center">
        <input class="btn btn-primary mt-5" type="submit" value="Регистрация" />
    </div>
</form>

